.spline-embed-main-container {
  position: relative;
  width: 100dvw;
  height: 100dvh;
  background-color: #000;
  z-index: 1;

  .custom-canvas-class {
    position: absolute;
    width: 100dvw !important;
    height: 100dvh !important;

    canvas {
      width: 100dvw !important;
      height: 100dvh !important;
    }

  }

  .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10;
    // background-color: #fff000;

    .loader-gif {
      width: 14vw;
      height: 14vw;
      object-fit: contain;
    }
  }


}