.spline-embed-main-container {
  position: relative;
    width: 100%;
    height: 100vh;
    background-color: #000;

  .custom-canvas-class{
    position: absolute;
    width: 100% !important;
    height: 100% !important;
  }
}