.case-study-main-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    // border: 1px solid #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    transition: 1.2s ease-in-out;
    overflow: hidden;
    transform: translateY(100%);
    z-index: 2;
    gap: 4% 2%;
    padding: 5%;

    .case-study-one {
        position: relative;
        width: 45%;
        aspect-ratio: 1.2;
        background-color: #fff;
        border-radius: 1vw;
        overflow: hidden;
    }

    .case-study-two {
        position: relative;
        width: 45%;
        aspect-ratio: 1.2;
        background-color: #464646;
        border-radius: 1vw;
        overflow: hidden;
    }

    .live-project-section {
        position: relative;
        width: 92%;
        aspect-ratio: 2.5;
        // background-color: #fff;
        border-radius: 1vw;
        display: flex;
        justify-content: center;
        align-items: center;
        perspective: 1000px;

    }
}